@use "@scss/global.scss" as *;

.payments-section {
  display: flex;
  gap: 32px;
  max-width: $app-container;
  margin: 0 auto;

  .details {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 604px;
    position: absolute;
    right: 0;
    top: 80px;

    .p-regular {
      font-family: "Poppins", sans-serif;
      color: $grey-2;
      max-width: 520px;
    }
  }
}
