@use "@scss/global.scss" as *;

.primary {
  background-color: $primary;
  color: $white-1;
  padding: 16px 32px;
  height: Hug(56px);
  width: Hug(152px);
  font-size: $medium;
}

.secondary {
  border: 2px solid $primary;
  color: $primary;
  font-size: $bold;
  width: Hug(128px);
  height: Hug(48px);
  padding: 12px 32px;
}

.primary,
.secondary {
  border-radius: 64px;
  font-size: 16px;
  line-height: 24px;
}

.underlined {
  color: $grey-2;
  border-bottom: 1px solid $grey-2;
  font-family: "Poppins", sans-serif;
  font-weight: $regular;
  font-size: 12px;
  line-height: 14px;
}
