.card-container {
  display: flex;
  position: relative;

  img[alt="circle-icon"] {
    position: absolute;
    z-index: -1;
    left: 330px;
    top: 52px;

    @media (max-width: 800px) {
      height: 275px;
      left: 170px;
      top: 65px;
    }
  }

  img[alt="credit-card-img"] {
    @media (max-width: 800px) {
      padding-top: 50px;
      height: 310px;
    }
  }
}
