@use "@scss/global.scss" as *;

.why-us-section {
  max-width: $app-container;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 64px;

  background-color: $light-sec;
  backdrop-filter: blur(8px);
  border-radius: 32px;

  .number {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 278px;
    text-align: center;
    p {
      color: $primary;
    }

    @media (max-width: $xxl) {
      gap: 6px;
      width: 230px;
    }

    @media (max-width: $xl) {
      gap: 6px;
      width: 200px;
    }

    @media (max-width: $lg) {
      gap: 4px;
      width: 160px;
      padding: 10px 0;
    }
  }

  @media (max-width: $xxl) {
    max-width: max-content;
  }

  @media (max-width: $lg) {
    padding: 32px;
  }

  @media (max-width: $md) {
    flex-direction: column;
  }

  @media (max-width: $sm) {
    padding: 32px 20px;
  }
}
