@use "@scss/global.scss" as *;

.app-navbar {
  position: absolute;
  left: 0;
  top: 20px;
  width: 100%;
  z-index: 300;

  .logo-desktop {
    display: block;
  }
  .logo-mobile {
    display: none;
  }

  @include mq-max($sm) {
    .logo-desktop {
      display: none;
    }
    .logo-mobile {
      display: block;
    }
  }

  button {
    @media (max-width: $md) {
      height: 20px;
      width: fit-content;
      font-size: 10px;
      line-height: 2.5px;
      padding: 10px;
    }
  }

  &.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $light-sec;
    backdrop-filter: blur(8px);
  }

  &-container {
    max-width: $app-container;
    padding: 10px $app-padding-x;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $md) {
      padding: 0 10px 0 5px;
    }
  }

  .navbar-links {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 32px;
    min-width: max-content;

    @media (max-width: $md) {
      gap: 12px;
    }
  }
}
