@use "./mixins.scss" as *;
@use "./variables.scss" as *;

// $xs: 320px;
// $sm: 576px;
// $md: 768px;
// $lg: 992px;
// $xl: 1200px;
// $xxl: 1440px;

$xs-font-size-ratio: 0.6;
$sm-font-size-ratio: 0.7;
$md-font-size-ratio: 0.8;
$lg-font-size-ratio: 0.9;
$xl-font-size-ratio: 0.95;
$xxl-font-size-ratio: 1;

$h1-base-font-size: 56px;
$h2-base-font-size: 48px;
$h3-base-font-size: 40px;
$h4-base-font-size: 32px;
$h5-base-font-size: 24px;
$h6-base-font-size: 16px;
$p-large-base-font-size: 18px;
$p-medium-base-font-size: 16px;
$p-small-base-font-size: 12px;

@function calculate-font-size($base-size, $breakpoint-ratio) {
  @return $base-size * $breakpoint-ratio;
}

@mixin font-size($base-size, $breakpoint-ratio) {
  font-size: calculate-font-size($base-size, $breakpoint-ratio);
}

@mixin h1 {
  line-height: 64px;
  font-weight: $bold;
  letter-spacing: -2.5px;
  @include responsive-font-size($h1-base-font-size);
}

@mixin h2 {
  line-height: 56px;
  letter-spacing: -0.48px;
  font-weight: $bold;
  @include responsive-font-size($h2-base-font-size);
}

@mixin h3 {
  line-height: 48px;
  letter-spacing: -0.32px;
  font-weight: $bold;
  @include responsive-font-size($h3-base-font-size);
}

@mixin h4 {
  line-height: 40px;
  letter-spacing: -0.32px;
  font-weight: $bold;
  @include responsive-font-size($h4-base-font-size);
}

@mixin h5 {
  line-height: 32px;
  letter-spacing: -0.32px;
  font-weight: $bold;
  @include responsive-font-size($h5-base-font-size);
}

@mixin h5-medium {
  font-weight: $medium;
  line-height: 32px;
  letter-spacing: -0.32px;
  @include responsive-font-size($h5-base-font-size);
}

@mixin h6 {
  line-height: 24px;
  letter-spacing: -0.32px;
  font-weight: $bold;
  @include responsive-font-size($h6-base-font-size);
}

// Mixins for paragraphs with responsive font sizes
@mixin p-large {
  line-height: 24px;
  font-weight: $regular;
  @include responsive-font-size($p-large-base-font-size);
}

@mixin p-medium {
  line-height: 23px;
  font-weight: $medium;
  @include responsive-font-size($p-medium-base-font-size);
}

@mixin p-regular {
  line-height: 24px;
  font-weight: $regular;
  letter-spacing: -0.03em;
  @include responsive-font-size($p-medium-base-font-size);
}

@mixin p-small {
  line-height: 20px;
  font-weight: $regular;
  @include responsive-font-size($p-small-base-font-size);
}

// Responsive font-size mixin using breakpoints
@mixin responsive-font-size($base-size) {
  font-size: calculate-font-size($base-size, $xs-font-size-ratio);
  @media (min-width: $xs) {
    font-size: calculate-font-size($base-size, $xs-font-size-ratio);
  }
  @media (min-width: $sm) {
    font-size: calculate-font-size($base-size, $sm-font-size-ratio);
  }
  @media (min-width: $md) {
    font-size: calculate-font-size($base-size, $md-font-size-ratio);
  }
  @media (min-width: $lg) {
    font-size: calculate-font-size($base-size, $lg-font-size-ratio);
  }
  @media (min-width: $xl) {
    font-size: calculate-font-size($base-size, $xl-font-size-ratio);
  }
  @media (min-width: $xxl) {
    font-size: calculate-font-size($base-size, $xxl-font-size-ratio);
  }
}
